/****************************************************************************
 * styles.css
 *
 * CSCE E-15
 * Project 4
 *
 * Global CSS
 ***************************************************************************/

.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Tik Tok button - for navigation to Tik Tok page */
.tiktok-button {
    position: absolute;
    width: 60px;
    margin-top: -100px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 15px;
}

#top
{
    /* center contents */
    text-align: center;

    /* use a large font size for headers and titles */
    font-size: larger;
}

#navigation
{
    /* center contents */
    text-align: center;

    /*  use a regular, readable font size for the main body */
    font-size: medium;
}

#messages
{
    /* center contents */
    text-align: center;

    /*  use a regular, readable font size for the main body */
    font-size: medium;
}

#middle
{
    /* center contents */
    text-align: center;

    /*  use a regular, readable font size for the main body */
    font-size: medium;
}

#bottom
{
    /* use smaller font size for footers */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;

    /* center contents */
    text-align: center;
}

.danger
{
    color: red;
}

.warning
{
    color: orange;
}

.success
{
    color: green;
}

.active
{
    color: black;
}

.azure_body
{
    background-color: azure;
}

.honeydew_body
{
    background-color: honeydew;
}

.seashell_body
{
    background-color: seashell;
}

.lightskyblue_body
{
    background-color: lightskyblue;
}

.lightgreen_body
{
    background-color: lightgreen;
}

.papayawhip_body
{
    background-color: papayawhip;
}

.text_box
{
    border: thin;
    border-color: black;
}

.tinytext
{
    font-size:8;
    color="gray";
}

.lighttext
{
    font-size:8;
    color="gray";
}
